<% if user_signed_in? %>

<%= simple_form_for(@movie) do |f| %>

  <%= f.input :title %><br>
  <%= f.input :duration %><br>
  <%= f.input :year %><br>
  <%= f.input :categories, 
              collection: Movie::CATEGORIES, 
              label_method: ->(x) { x.to_s.titleize }, 
              as: :check_boxes%><br>
  <%= f.input :synopsis %><br>
  
  <%= fields_for :casts, @cast do |cast_attributes| %>
  <div class="field">
    <%= cast_attributes.label :person_id %><br>
    <%= cast_attributes.select :person_id, Person.all.map { |p| [p.complete_name, p.id] } %>
  </div>

  <div class="field">
    <%= cast_attributes.label :role %><br>
    <%= cast_attributes.select :role, Cast::ROLE.map { |role| [role.titleize, role] } %>
  </div>

  <div class="field">
    <%= cast_attributes.label :destroy %><br>
    <%= cast_attributes.check_box :_destroy %>
  </div>
<% end %>

<%= f.button :submit %>

<% end %>

<% else %>
<div class="bck dark">
  <p class="white">
    You must be logged in to add or edit a movie
  </p>
</div>
<% end %>
